<!DOCTYPE html>
<html lang=en>
  <%= partial :head, :locals => { :current_page => "Contact" } %>
  <body>
    <%= partial :header, :locals => { :current_page_file_name => "contact.html" } %>
    <div class="main contact">
      <div class="column">
        <h2><%= t(:contact_details) %></h2>
        <ul class="contact-details">
          <li>
            <% link_to "https://telegram.me/yassineim" do %>
              <span class="fab fa-telegram"></span>
              <span>telegram.me/yassineim</span>
            <% end %>
          </li>
          <li>
            <% link_to "mailto:yassine.imounachen@gmail.com" do %>
              <span class="fas fa-envelope"></span>
              <span>yassine.imounachen@gmail.com</span>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="column">
        <h2><%= t(:me_elsewhere) %></h2>
        <ul class="me-elsewhere">
          <li>
            <% link_to "https://github.com/yassineim" do %>
              <span class="fab fa-github"></span>
              <span>github.com/yassineim</span>
            <% end %>
          </li>
          <li>
            <% link_to "https://gitlab.com/yassineim" do %>
              <span class="fab fa-gitlab"></span>
              <span>gitlab.com/yassineim</span>
            <% end %>
          </li>
          <li>
            <% link_to "https://www.linkedin.com/in/yassineim" do %>
              <span class="fab fa-linkedin"></span>
              <span>linkedin.com/in/yassineim</span>
            <% end %>
          </li>
          <li>
            <% link_to "https://twitter.com/yassineim" do %>
              <span class="fab fa-twitter"></span>
              <span>twitter.com/yassineim</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
