<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= current_page + " | Yassine Imounachen" %></title>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Zilla+Slab:400,600" %>
  <%= stylesheet_link_tag "site" %>
  <%= favicon_tag 'favicon.png' %>
</head>
