<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= current_page + " | Yassine Imounachen" %></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet"> 
  <%= stylesheet_link_tag "site" %>
  <%= favicon_tag 'favicon.png' %>
</head>
