<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="wIqcJ1Wn8RK13vD6SMZBR5kLOS5ZOgyL6dFyFm2NWRM" />
  <title><%= current_page + " | Yassine Imounachen" %></title>
  <%= stylesheet_link_tag "site" %>
  <%= favicon_tag 'favicon.png' %>
</head>
