---
title: Photos
---

<div class="main photos">
  <div class="column">
    <%
      left_column_images = [
        { file_name: "mosque", description: "Hassan II Mosque model at CMN" },
        { file_name: "guitar", description: "Guitar at home" },
        { file_name: "sharks", description: "Aquarium at Morocco Mall" },
        { file_name: "bench", description: "Bench at Ain Almou, Ahfir region" },
      ]
    %>
    <% left_column_images.each do |image| %>
      <% link_to "images/full/" + image[:file_name] + ".jpg" do %>
        <%= image_tag "images/medium/" + image[:file_name] + "-medium.jpg", :alt => image[:description] %>
      <% end %>
    <% end %>
  </div>
  <div class="column">
    <%
      right_column_images = [
        { file_name: "sunset", description: "Sunset at Saïdia Beach" },
        { file_name: "contre-jour", description: "Contre-jour at Ain Almou" },
        { file_name: "fantasia", description: "Fantasia at Sidi Yahya, Oujda" },
      ]
    %>
    <% right_column_images.each do |image| %>
      <% link_to "images/full/" + image[:file_name] + ".jpg" do %>
        <%= image_tag "images/medium/" + image[:file_name] + "-medium.jpg", :alt => image[:description] %>
      <% end %>
    <% end %>
  </div>
</div>
<footer>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
</footer>